/* 결과 들 */
#p1, #p2{
    color: white;
    background-color: skyblue;
    border: 3px groove black;
    width: 80px;
    display: inline-block;
}
/* 입력 완료 버튼 */
button{
    color: black;
    font-size: 20px;
    background-color: antiquewhite;
    display: block;
}
/* 메인 div */
.container{
    border: 3px solid black;
    padding: 10px;
    height: 300px;
}
/* 제목 */
h1{
    display: inline;
}
/* input 들 */
.input{
    display: block;
}